<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!--<link rel="stylesheet" href="test_styles.css">-->

    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>

    <div class="container">
          <!-- header -->
      <div class="header">
           <h1>Заголовок в основном шаблоне</h1>
      </div>

          <!-- Меню сайта -->
      <h3>Меню</h3>
      <div class="menu">
        <ul>
          <li><a href="{{url_for('index')}}">Главная страница</a></li>
          <li><a href="{{url_for('working_table')}}">Рабочая таблица</a></li>
          <li><a href="{{url_for('show_companies')}}">Информация по поставщикам</a></li>
          <li><a href="{{url_for('tables_pages')}}">Все таблицы</a></li>
        </ul>
      </div>
          <!-- Содержимое страницы -->
      <div class="middle">
           <p>{% block content %} {% endblock %}</p>
      </div>

      <!-- Фуутер -->
      <div class="footer">
        <p>&copy; 2021 index.com Все права защищены.</p>
      </div>
    </div>

  </body>
</html>
