<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>3D Автобус</title>
  <link rel="stylesheet" href="../stylehead.css">
  <link rel="stylesheet" href="../stylemid.css">
  <link rel="stylesheet" href="../stylegood.css">
</head>

<body>
  <div class="container">
    <div class="header">
      <div class="logo"><a href="../index.html"><img src="../img/logo.jpg" alt="logo" width="130px"></div>
      <div class="name">Модели в 3D</div></a>
      <div class="menu">
        <ul>
          <li><a href="../index.html">Главная </a></li>
          <li><a href="../catalog.html">Каталог </a></li>
          <li><a href="../contacts.html">Контакты</a></li>
        </ul>
      </div>
    </div>
    <!-- Закончился header началась основная часть -->

    <div class="middle">
      <div class="goodname">
        3d модель "Двухэтажный автобус"
      </div>
      <div class="goodimg">
        <a href="../img/2bus.jpg" target="_blank"> <img src="../img/2bus.jpg" alt=""></a>

      </div>
      <div class="goodabout">
        <span>Описание товара</span>
        <p class="shortd">Лондонский даблдекер (doubledecker)</p>
        <span>Характеристики товара</span>
        <table class="table">
          <tr>
            <td>3D Редктор</td>
            <td> 3ds Max 201</td>
          </tr>
          <tr>
            <td>Рендерер:</td>
            <td>V-Ray 2.30</td>
          </tr>
          <tr>
            <td>Геометрия:</td>
            <td>Polygonal</td>
          </tr>
          <tr>
            <td>Полигоны:</td>
            <td>494000</td>
          </tr>
          <tr>
            <td>Вертексы:</td>
            <td>539000</td>
          </tr>
        </table>
        <p class="longd"> Тип двухэтажного автобуса (даблдекер), созданный в&nbsp;1954 году компанией AEC и&nbsp;эксплуатировавшийся в&nbsp;Лондоне с&nbsp;8&nbsp;февраля 1956 года по&nbsp;9&nbsp;декабря 2005&nbsp;года. За&nbsp;это время стал символом
          Лондона&nbsp;и,
          возможно, самым узнаваемым автобусом в&nbsp;мире.</p>
      </div>
      <div class="buy">
        <input type="button" value=" Купить ">
      </div>
    </div>

    <!-- Конец основной части-->
    <div class=" footer">
      <p>&copy; 2021 index.com Все права защищены.</p>
    </div>
  </div>
</body>

</html>