<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>3D Мухомор</title>
  <link rel="stylesheet" href="../stylehead.css">
  <link rel="stylesheet" href="../stylemid.css">
  <link rel="stylesheet" href="../stylegood.css">
</head>

<body>
  <div class="container">
    <div class="header">
      <div class="logo"><a href="../index.html"><img src="../img/logo.jpg" alt="logo" width="130px"></div>
      <div class="name">Модели в 3D</div></a>
      <div class="menu">
        <ul>
          <li><a href="../index.html">Главная </a></li>
          <li><a href="../catalog.html">Каталог </a></li>
          <li><a href="../contacts.html">Контакты</a></li>
        </ul>
      </div>
    </div>
    <!-- Закончился header началась основная часть -->

    <div class="middle">
      <div class="goodname">
        3d Модель: "Мухомор"
      </div>
      <div class="goodimg">
        <a href="../img/mash.jpg" target="_blank"> <img src="../img/mash.jpg" alt=""></a>

      </div>
      <div class="goodabout">
        <span>Описание товара</span>
        <p class="shortd">Гриб. Ядовитый.</p>
        <span>Характеристики товара</span>
        <table class="table">
          <tr>
            <td>3D Редктор</td>
            <td> 3ds Max 2012</td>
          </tr>
          <tr>
            <td>Рендерер:</td>
            <td>V-Ray 2.30.01</td>
          </tr>
          <tr>
            <td>Геометрия:</td>
            <td>Polygonal</td>
          </tr>
          <tr>
            <td>Полигоны:</td>
            <td>3931</td>
          </tr>
          <tr>
            <td>Вертексы:</td>
            <td>3840</td>
          </tr>
        </table>
        <p class="longd">Большинство мухоморов несъедобны или сильно ядовиты, есть опасные смертельно ядовитые виды (бледная поганка, мухомор вонючий), которые иногда путают со съедобными грибами. Общеизвестный мухомор красный в сыром виде и без
          должной
          обработки, кроме средней токсичности, обладает также галлюциногенным действием.</p>
      </div>
      <div class="buy">
        <input type="button" value=" Купить ">
      </div>
    </div>

    <!-- Конец основной части-->
    <div class=" footer">
      <p>&copy; 2021 index.com Все права защищены.</p>
    </div>
  </div>
</body>

</html>