<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Каталог</title>
  <link rel="stylesheet" href="stylehead.css">
  <link rel="stylesheet" href="stylemid.css">
</head>

<body>
  <div class="container">
    <div class="header">
      <div class="logo"><a href="index.html"><img src="img/logo.jpg" alt="logo" width="130px"></div>
      <div class="name">Модели в 3D</div></a>
      <div class="menu">
        <ul>
          <li><a href="index.html">Главная </a></li>
          <li><a href="catalog.html">Каталог </a></li>
          <li><a href="contacts.html">Контакты</a></li>
        </ul>
      </div>
    </div>
    <!-- Закончился header началась основная часть -->
    <div class="middle">

      <div class="catalog">
        <div class="model">
          <div class="image">
            <a href="cat/bus.html"><img src="img/2bus.jpg" alt="bus" width="200">
          </div>
          <div class="modelname">
            <a href="cat/bus.html"> Автобус</a>
          </div>
        </div>

        <div class="model">
          <div class="image">
            <a href="cat/godz.html"><img src="img/godz.jpg" alt="godz" width="200">
          </div>
          <div class="modelname">
            <a href="cat/godz.html">Годзилла</a>
          </div>
        </div>

        <div class="model">
          <div class="image">
            <a href="cat/mash.html"><img src="img/mash.jpg" alt="bus" width="200">
          </div>
          <div class="modelname">
            <a href="cat/mash.html">Мухомор</a>
          </div>
        </div>
      </div>

    </div>
    <!-- Конец основной части-->
    <div class="footer">
      <p>&copy; 2021 index.com Все права защищены.</p>
    </div>
  </div>
</body>

</html>