<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Главная</title>
  <link rel="stylesheet" href="stylehead.css">
  <link rel="stylesheet" href="stylemid.css">
</head>

<body>
  <div class="container">
    <div class="header">
      <div class="logo"><a href="index.html"><img src="img/logo.jpg" alt="logo" width="130px"></div>
      <div class="name">Модели в 3D</div></a>
      <div class="menu">
        <ul>
          <li><a href="index.html">Главная </a></li>
          <li><a href="catalog.html">Каталог </a></li>
          <li><a href="contacts.html">Контакты</a></li>
        </ul>
      </div>
    </div>
    <!-- Закончился header началась основная часть -->

    <div class="middle">
      <div class="img">
        <img src="img/start.jpg" alt="image">
      </div>
      <div class="start">
        Приветствую тебя, любитель 3d&nbsp;моделей. У&nbsp;нас ты&nbsp;сможешь найти все, что только можно представить. Это все ты&nbsp;сможешь скачать и&nbsp;распечатать, на&nbsp;своем любимом 3d&nbsp;принтере.<br> <br>
        Переходи в <a href="catalog.html">Каталог </a>, скачивай и наслаждайся.
      </div>
    </div>

    <!-- Конец основной части-->
    <div class="footer">
      <p>&copy; 2021 index.com Все права защищены.</p>
    </div>
  </div>
</body>

</html>