{% extends "base.html" %}
{% block content %}
<b>
<h1>Стартовая страница</h1>
<h2>Пометки:</h2>

  <h3>Добавить в таблицу с протатипами (ссылками):</h3>

<li>добавление ссылок, через запятую</li>
<li>добавление ссылок, через файл (excel)</li>
<li>название объекта ведет к его характеристикам</li>
<li>фильтры (сортировать по id, имени)</li>
<li>поиск по столбцам (имени, Поставщикам*)</li>
<li>Ссылки парсятся, от туда появляется название предмета, показанное в соседнем столбце</li>

<h3>Общие:</h3>
<li>Индексы после удаления не применяются</li>
<li>перелистывание страниц (показывать по 10, 20, 50  )</li>
<li>Изменение данных (добавление инфы из другой таблицы по id или имени) как в "прототипах"</li>
<li>Сравнительные характеристики всех персонажей Dota 2 </li>
<li>В Базу данных добавить таблицу с группировками предметов (по характеристикам)</li>
<li>Добавление протатипов, моделей и предметов на одной странице</li>
</b>

<h3>Шапка</h3>
<li>Нажимаешь на кнопку "таблицы" Она разделяется на <b>X</b> кнопок (Прототипы, Модели, Предметы и тд.)</li>
<li>Либо под шапкой выносятся "подкнопки" которые меняются если нажать на другую главную кнопку</li>
<h3>Страница модель - характеристики (ver 2)</h3>
<li>в левой части выбор модели, в правой отражение ее характеристик</li>
<h3>Единицы измерения</h3>
<li>  Добавить столбец расшифровки и список с другими обозначениями (СМ: Сантимметр, см, См. Сантим)</li>
<a href="/sort_by_name">Сортировка</a>

{% endblock %}
