{% extends "base.html" %}
{% block content %}

<br>
<form method="post">
  <!--<input type="text" maxlength="255" name="id" placeholder="ID">-->
  <input type="text" maxlength="255" name="model_id" placeholder="id Модели">
  <input type="text" maxlength="255" name="char_id" placeholder="id Характеристики">
  <input type="text" maxlength="255" name="mes_id" placeholder="id Ед. изм">
  <input type="text" maxlength="255" name="value" placeholder="Значение">
  <input type="submit" name="subject" value="Добавить ед. изм.">
</form>
<table border="1" cellpadding="4" cellspacing="0">
  <caption>Таблица связей: Модель - характеристика</caption>
  <tr>
    <th>id Модели</th><th>id Характеристики</th><th>Значение</th><th>id Ед. изм</th>
  </tr>
  {% for item in data_list %}
  <tr>
    <td>{{ item.model_id }} ({{ item.model_name.name }})</td>
    <td>{{ item.char_id }} ({{ item.char_name.name}})</td>
    <td>{{ item.chars_val }}</td>
    <td>{{ item.measure_id }} ({{item.measure_name.name}})</td>
    <td><a href= "{{url_for('proto_del', item_id = item.some_id, table_name = 'Mchmeva')}}">Удалить</a></td>

  </tr>

  {% endfor %}
</table>


{% endblock %}
