{% extends "base.html" %}
{% block content %}


<br>
{% if main_query|length %}
  <table border = "1">
    <caption> {{main_query[0].model_name.name}} </caption>
    <tr>
      <th>Название характеристики</th><th>Значение</th><th>Единица измерения</th>
    </tr>

    {% for char in main_query %}
      <tr>
        <td>{{char.char_name.name}}</td>
        <td>{{char.chars_val}}</td>
        <td>{{char.measure_name.name}}</td>
      </tr>
    {% endfor %}
{% else %}
<p>Нет характеристик</p>
{% endif %}
  </table>
<br>
{% for links in linqs_query %}
  <li><a href="{{ links.http_link }}" target="_blank">{{ links.http_link[:35] }}...</a></li>
{% endfor %}

{% endblock %}
