{% extends "base.html" %}
{% block content %}


<table border="1" cellpadding="4" cellspacing="0">
  <caption>Список прототипов</caption>
  <tr>
    <th>id Ссылки</th><th>ID Объекта</th><th>Имя</th><th>Название</th><th>Ссылка</th><th>Функции</th>
  </tr>
  {% for item in data_list %}
  <tr>
    <td>{{ item.id }}</td>
    <td>{{ item.object_id }}</td>
    <td>{{ item.object_name.name }}</td>
    <td>{{ item.object_name.subject_name.name }}</td>
    <td><a href="{{ item.http_link }}" target="_blank">{{ item.http_link[:35] }}...</a></td>
  </tr>

  {% endfor %}
</table>



{% endblock %}
