{% extends "base.html" %}
{% block content %}
<br>
<form method="post">
  <!--<input type="text" maxlength="255" name="id" placeholder="ID">-->
  <input type="text" maxlength="255" name="sub_name" placeholder="Название предмета">
  <input type="submit" name="add_subject" value="Добавить объект">
</form>
<table border="1" cellpadding="4" cellspacing="0">
  <caption>Список прототипов</caption>
  <tr>
    <th>id в системе</th><th>Название предмета</th><th>Функции</th>
  </tr>
  {% for item in data_list %}
  <tr>
    <td>{{ item.id }}</td>
    <td><a href="{{url_for('model_compare_func', subject_ids = item.id )}}">{{ item.name }}</a></td>
    <td><a href="{{url_for('proto_del', item_id = item.id, table_name = 'Subject' )}}">Удалить</a></td>

  </tr>

  {% endfor %}
</table>

{% endblock %}
